S3 + HTTP/2: "duplicate" header

**Describe the bug**
The bug occurs when S3 signatures are used in combination with HTTP/2. This (IIRC) is currently not possible with AWS S3, but some other vendors or custom implementation may run into this.

The combination produces the special `:authority:` HTTP/2 pseudo-header as well as the `Host` header. Some server or middleware implementation don't like that, e.g. Nginx will return a "bad request" and emit the log (here the host was `localhost:9999`:

```text
client sent duplicate host header: "host: localhost:9999", previous value: "host: localhost:9999" while reading client request headers, client: 127.0.0.1, server: , host: "localhost:9999"
```

Note that the header is not really duplicate. It's likely that Nginx internally renames `:authority` to `Host` and then trips over it. Also see https://trac.nginx.org/nginx/ticket/2268 .

**To Reproduce**
```rust
use object_store::{
    aws::AmazonS3Builder,
    ClientOptions,
};

let store = AmazonS3Builder::new()
    .with_client_options(
        ClientOptions::new()
        .with_http2_only()
     )
    .with_region(...)
    .with_access_key_id(...)
    .with_secret_access_key(...)
    .build()
    .unwrap();

store.get(...).await.unwrap();
```

**Expected behavior**
<!--
A clear and concise description of what you expected to happen.
-->

**Additional context**
I think the culprit is this bit here:

https://github.com/apache/arrow-rs/blob/97ae9d778b5f1d1fcc0c7beb91b2b1a6ed741194/object_store/src/aws/credential.rs#L157-L159

Of course one could argue that `reqwest` or `h2` should de-duplicate the headers properly.

> We COULD make `object_store` more friendly (move it from uncommon to common behavior within the spec), but ultimately it's nginx that has to fix their stuff.

While nginx *could* allow clients to send both headers, this wouldn't *completely* fix the problem.

As I noted previously, [for AWSv4 signed requests, the data being signed differs](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_sigv-create-signed-request.html#create-canonical-request) depending on whether it is sent over HTTP/1.1 (`Host` header only) or HTTP/2 (`:authority` header and maybe *also* `Host` header).

As such, a client always needs to know whether its request will be sent over HTTP/1.1 or HTTP/2 ahead of time. ALPN may give clues here (if the server has configured it), but it's then a question of whether your HTTP library allows `arrow-rs` to learn which version is used immediately before the request is actually sent.

A simpler alternative is that `arrow-rs` could be configured to send requests exclusively using one version of HTTP that is chosen ahead of time by the library developer (or a configuration option available in their application). The downside is that if a service starts providing HTTP/2, clients will need to update their configuration to take advantage of it.

This is an issue for *anything* sending AWSv4 signed requests, not just S3-compatible object storage services.

> So if a HTTP/2 proxy has a HTTP/1.1 upstream does it not convert the pseudo header (`:authority:`) into its HTTP/1.1 counterpart (`Host`)? That seems like an oversight in the spec.

[This is covered in the spec](https://datatracker.ietf.org/doc/html/rfc7540#section-8.1.2.3):

> An intermediary that converts an HTTP/2 request to HTTP/1.1 MUST create a `Host` header field if one is not present in a request by copying the value of the ":authority" pseudo-header field.

and:

> To ensure that the HTTP/1.1 request line can be reproduced accurately, \[\[the `:authority`\]\] pseudo-header field MUST be omitted when translating from an HTTP/1.1 request that has a request target in origin or asterisk form (see [[RFC7230], Section 5.3](https://datatracker.ietf.org/doc/html/rfc7230#section-5.3)).

As "origin form" includes an `:authority` header like `storage.cloud.example.com`, a HTTP/2 to HTTP/1.1 proxy would drop the `:authority` header for such requests.

However, as these headers are included in AWSv4 signing, a HTTP/1.1 upstream implementing AWSv4 signing would need to know that the request was originally sent with HTTP/2 **and** whether it originally included a `Host` header (as it may have been copied from `:authority`, but must not *differ* when *both* are provided) in order to reproduce the client's request signing process accurately.

> As I noted previously, [for AWSv4 signed requests, the data being signed differs](https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_sigv-create-signed-request.html#create-canonical-request) depending on whether it is sent over HTTP/1.1 (`Host` header only) or HTTP/2 (`:authority` header and maybe _also_ `Host` header).

That's not what the linked docs say, they say:

> You must include the host header (HTTP/1.1) **or** the :authority header (HTTP/2)

So I guess it's rather unclear from the AWS side what should happen if you send a `host` header in an HTTP/2 request. The fact that the header key/name and not only the value is included in the signature is a bit weird and leads to the problem you're describing regarding the proxy behavior. I assume that this is somewhat of an oversight on the AWS site and hasn't been an issue for them simply because AWS S3 does only support HTTP/1.1

> However, as these headers are included in AWSv4 signing, a HTTP/1.1 upstream implementing AWSv4 signing would need to know that the request was originally sent with HTTP/2 **and** whether it originally included a `Host` header (as it may have been copied from `:authority`, but must not _differ_ when _both_ are provided) in order to accurately reproduce the client's request signing process.

As far as I can tell, there's simply NO way you can tell what the original protocol version was. The relevant spec is likely [rfc7239](https://datatracker.ietf.org/doc/html/rfc7239) and it does NOT include the version in any of its headers (although it defines the possibility for future extensions).

---

> A simpler alternative is that `arrow-rs` could be configured to send requests exclusively using one version of HTTP that is chosen ahead of time by the library developer (or a configuration option available in their application). The downsides are that if a service starts providing HTTP/2, clients will need to update their configuration to take advantage of it, and that clients would break if they ever _stopped_ offering a particular HTTP version that they were configured to use.

I think that's a good mitigation / config. Most deployments should know if HTTP/2 is available (and preferred) or not, since this also has implications on load balancing and potentially the network fabric. I guess for most people the rule is simple: use HTTP/1.1 (which is the only version supported by AWS) and only switch to HTTP/2 if you have a specific setup that allows & demands it.